@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.empty-page {
    background-color: $white;
    margin: 24px auto;
    border-radius: 8px;
    position: relative;
    .info {
        text-align: center;
        padding: 118px 50px;
        .icon {
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            line-height: 16px;
            margin-top: 8px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .empty-page {
        margin: 56px auto;
        max-width: 600px;
    }
}