@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

header {
    background-color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        .logo,
        .profile {
            line-height: 120px;
        }
    }
    .profile {
        line-height: 120px;
    }

}