@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

header {
    background-color: $white;
    width: 100%;
    padding: 0 24px;
    a {
        text-decoration: none;
        .logo {
            line-height: 120px;
        }
    }

}