@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.search-bar {
    position: relative;
    background-color: $white;
    form {
        .input-search {
            position: relative;
            width:100%;
            border: 1px solid $light-gray;
            border-radius: 8px;
            margin:0 0 24px;
            input {
                width: 90%;
                border: none;
                padding: 16px;
                font-size: 14px;
                line-height: 16px;
                outline: none;
            }
            .search-icon {
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .checkboxes {
            padding: 0 0 32px; 
            label {
                 margin-right: 32px;
                 font-size: 14px;
                 input {
                     margin-right: 8px;
                     vertical-align: middle;
                     &.custom-chckbx {
                        appearance: none;
                        display: inline-block;
                        position: relative;
                        padding: 11px;
                        border: 1px solid $light-gray;
                        border-radius: 4px;
                        &:checked {
                            background-color: $blue;
                            border: 1px solid $blue;
                            content: url('../../../assets/icons/check.svg');
                            width: 24px;
                            height: 24px;
                            padding: 4px;
                        }
                     }
                 }
            }
        }
    }
}

@media only screen and (min-width: 1260px) {
    .search-bar{
        form{
            display: flex;
            position: absolute;
            width: 100%;
            justify-content: center;
            max-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .input-search {
                max-width: 600px;
                margin-bottom: 0;
                line-height: 48px;
            }
            .checkboxes {
                padding-bottom: 0;
                margin-left: 24px;
                label {
                    line-height: 48px;
                }
            }
        }
    }
}