@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
nav {
    width: 288px;
    margin: 0 auto;
    ul {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                color: $dark-gray;

            }
            &.current-page{
                a {
                    color: $light-blue;
                }
            }
        }
    }
}