@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

nav {
    width: 288px;
    margin: 56px auto;
    ul {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                color: $dark-gray; 
                cursor: pointer;   
                &.current-page{
                    color: $light-blue;
            }   
        }
    }
}