@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

@media only screen and (min-width: 768px) {
    .login-page-container {
        display: flex;
        .image {
            height: 100vh;
            width: 40%;
            background-image: url('../../assets/images/background.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .form-container{
            width: 60%;
        }
    }
}