@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';

    .modal-main {
      position:fixed;
      background: white;
      width: calc(100% - 48px);
      height: auto;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      border-radius: 8px;
      .modal-container{
        width: 100%;
        height: auto;
        .btn-wrap {
          display: flex;
          justify-content: flex-end;
          position: relative;
          padding: 24px;
          button {
            border:none;
            cursor: pointer;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
        .desc-wrap {
          padding: 24px;
          h2 {
            line-height: 40px;
            margin-bottom: 8px;
          }
        }
      } 
    }

  @media only screen and (min-width: 768px) {
    .modal-main {
      max-width: 600px;
    }
  }
