@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';

.modal {
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
    z-index: 100;
    padding: 24px;

    .modal-main {
      position:fixed;
      background: white;
      width: calc(100% - 48px);
      height: auto;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }

    &.active {
      display: block;
    }
  }
  
