@import '../assets/styles/variables.scss';
@import '../assets/styles/common.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: $background;
}