@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
         transform: rotate(0deg);
    }
    to {
         transform: rotate(360deg);
    }
}