@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader{
    animation: spin 2s linear infinite;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $white;
    justify-content: space-between;
        header { order: 1; }
        .search-bar { order: 3; width: 100%}
        .profile { order: 2; height: 120px;}
}

@keyframes spin {
    from {
         transform: rotate(0deg);
    }
    to {
         transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        .item {
            width: calc(50% - 24px);
            margin: 24px 12px;
        }
    }
}

@media only screen and (min-width: 1260px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $white;
        justify-content: space-between;
            header { order: 1; width: 10%;}
            .search-bar { order: 2; width: 85%;}
            .profile { order: 3; }
    }
    .products {
        .item {
            width: calc(25% - 24px);
        }
    }
}