@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

form {
    div {
        label {
            display: flex;
            flex-direction: column;
            input {
                height: 48px;
                border-radius: 8px;
            }
        }
    }
    button {
        width: 100%;
    }
}