@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.form {
    margin: 3rem 0;
    form {
        div {
            label {
                display: flex;
                flex-direction: column;
                font-weight: 600;
                line-height: 16px;
                margin-top: 22px;
                input {
                    border-radius: 8px;
                    margin-top: 8px;
                    padding: 16px;
                    border: 1px solid $light-gray;
                }
            }
        }
        button {
            width: 100%;
            height: 48px;
            margin: 56px 0 16px;
        }
    }
    
    a {
        color: $dark-gray;
    }
}
