@import '../styles/variables.scss';

//Logo 
.logo {
    font-family: 'Nunito';
    font-size: 24px;
    line-height: 40px;
    color: $black;
}

//Headers
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

//Buttons
.btn {
    border-radius:  4px;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: 600;
    &.normal-blue {
        background-color: $light-blue;
        color: $white;
        border: none;
        &:hover {
            background-color: $blue;
        }
    }
    &.normal-white {
        background-color: $white;
        border: 1px solid $light-blue;
        color: $light-blue;
        &:hover {
            background-color: $blue;
            border: 1px solid $blue;
            color: $white;
        }
    }
    &.disabled {
        background-color: $dark-gray;
        color: $white;
    }
    &.disabled-white {
        background-color: $white;
        color: $dark-gray;
        border: 1px solid $dark-gray;
    }
}

//Container
.container {
    padding: 0 24px;
}


