//Colors

$light-blue: #4460F7;
$blue: #2140E8;
$orange: #F9A52B;
$white: #FFF;
$dirty-white: #F0F1F5;
$light-gray: #E0E2EA;
$gray: #B9BDCF;
$dark-gray: #9194A5;
$black: #1A1B1D;
$background: #F2F2F2;

//Font
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}